<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand me-3" href="/">Sistema Web</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Cadastrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/consultar">Consultar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h3>Consultar - Agendamento de Potenciais Clientes</h3>
            <p>Sistema Utilizado para agendamento de serviços.</p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="bg-primary text-light">
                        <tr>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Origem</th>
                            <th>Data de Contato</th>
                            <th>Observação</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each post}}
                        {{#dataValues}}
                        <tr>
                            <td>{{nome}}</td>
                            <td>{{telefone}}</td>
                            <td>{{origem}}</td>
                            <td>{{data_contato}}</td>
                            <td>{{observacao}}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-warning"><a href="/editar/{{id}}" style="color:inherit">Editar</a></button>
                                    <button type="button" class="btn btn-danger"><a href="/excluir/{{id}}" style="color:inherit">Excluir</a></button>
                                </div>
                            </td>
                        </tr>
                        {{/dataValues}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>